@font-face {
  font-family: "NagomiGokubosoGothic-ExtraLight";
  src: url("../NagomiGokubosoGothic-ExtraLight.otf");
}

body {
  background-color: #1d1d1d;
  position: relative;
  cursor: none;
}

#svg_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e1e1e;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: svg_bg 5.5s forwards;
  animation: svg_bg 5.5s forwards;
}

@keyframes svg_bg {
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -5;
  }
}

.case {
  width: 600px;
}

#svg {
  width: 100%;
}

.path {
  stroke: #1488cc;
  fill: none;
  stroke-width: 3.5;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: path 2.5s ease-in alternate 0s forwards;
  -webkit-animation: path 2.5s ease-in 0s forwards;
  animation: path 2.5s ease-in 0s forwards;
}

.path2 {
  animation-delay: 0.8s;
}

.path3 {
  animation-delay: 2.7s;
}

.path4 {
  animation-delay: 2.8s;
}

.path5 {
  animation-delay: 2.9s;
}

@keyframes path {
  0% {
    stroke-dashoffset: 5000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes path {
  0% {
    stroke-dashoffset: 5000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes path {
  0% {
    stroke-dashoffset: 5000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.cursor,
.follower {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: none;
  pointer-events: none;
}

.cursor {
  width: 8px;
  height: 8px;
  background-color: white;
  z-index: 1001;
}

.follower {
  width: 40px;
  height: 40px;
  background: #1488cc;
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  background: linear-gradient(to right, #2b32b2, #1488cc);
  opacity: 0.7;
  z-index: 1000;
}

#main {
  width: 100%;
  background-image: url(../img/blue_rose.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 280px 380px 180px 200px;
  margin-bottom: 300px;
}

#main .name {
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 12px;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

#main .title {
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 16px;
  color: #fff;
  margin-bottom: 200px;
  font-family: "Raleway", sans-serif;
}

#skills {
  width: 100%;
  background-color: #1d1d1d;
  position: relative;
}

#skills .skill_01 {
  width: 800px;
  margin: 0 auto 300px;
  background-image: url(../img/markup.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 5;
  opacity: 0;
}

#skills .skill_01 .black_01 {
  font-size: 160px;
  font-weight: normal;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #fff;
  text-shadow: 0px 0px 10px #000, 8px 8px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 200px;
  left: -200px;
}

#skills .skill_01 .white_01 {
  width: 800px;
  padding-bottom: 550px;
  overflow: hidden;
  position: relative;
}

#skills .skill_01 .white_01::after {
  content: "MARKUP";
  font-size: 160px;
  font-weight: normal;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  color: white;
  position: absolute;
  top: 200px;
  left: -200px;
  z-index: 1;
}

#skills .skill_02 {
  width: 800px;
  margin: 0 auto 300px;
  background-image: url(../img/movie.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0;
}

#skills .skill_02 .black_02 {
  font-size: 160px;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #fff;
  text-shadow: 0px 0px 10px #000, 8px 8px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 240px;
  right: -200px;
}

#skills .skill_02 .white_02 {
  width: 800px;
  padding-bottom: 550px;
  overflow: hidden;
  position: relative;
}

#skills .skill_02 .white_02::after {
  content: "MOVIE";
  font-size: 160px;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  color: white;
  position: absolute;
  top: 240px;
  right: -200px;
  z-index: 1;
}

#skills .skill_03 {
  width: 800px;
  margin: 0 auto 300px;
  background-image: url(../img/writter.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0;
}

#skills .skill_03 .black_03 {
  font-size: 160px;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #fff;
  text-shadow: 0px 0px 10px #000, 8px 8px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100px;
  left: -240px;
}

#skills .skill_03 .white_03 {
  width: 800px;
  padding-bottom: 550px;
  overflow: hidden;
  position: relative;
}

#skills .skill_03 .white_03::after {
  content: "WRITTE";
  font-size: 160px;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Raleway", sans-serif;
  letter-spacing: 5px;
  color: white;
  position: absolute;
  top: 100px;
  left: -240px;
  z-index: 1;
}

#profile {
  width: 100%;
  padding-bottom: 250px;
}

#profile #profile_box {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  border: 1px solid #fff;
  display: flex;
  position: relative;
}

#profile #profile_box .left_box {
  width: 300px;
  margin-left: 100px;
  position: relative;
  z-index: 2;
}

#profile #profile_box .left_box .profile_img {
  width: 200px;
  background-image: url(../img/note_image.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  padding-bottom: 200px;
  margin: 0 auto 40px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

#profile #profile_box .left_box .profile_img:hover {
  background-image: url(../img/note.jpg);
  transition: 0.4s ease-in-out;
}

#profile #profile_box .left_box p {
  color: #fff;
  background: -webkit-linear-gradient(0deg, #1e00ff, #05fbff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  letter-spacing: 5px;
  text-align: center;
}

#profile #profile_box .right_box {
  width: 700px;
  margin: 40px 0 0 100px;
  position: relative;
  z-index: 2;
}

#profile #profile_box .right_box span {
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 3;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  font-family: "NagomiGokubosoGothic-ExtraLight";
}

#profile #profile_box .right_box span::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(0deg, #1e00ff, #05fbff);
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.5s;
}

#profile #profile_box .right_box span:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.cursor_none {
  display: none;
}

.follower_active {
  opacity: 0;
}

.img_hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.fade_in {
  display: block;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon_fade_in {
  animation-name: icon_fade_in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes icon_fade_in {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(720deg);
  }
}

@media screen and (max-width: 768px) {
  #svg_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e1e1e;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: svg_bg 5.5s forwards;
    animation: svg_bg 5.5s forwards;
    box-sizing: border-box;
    padding: 50px;
  }
  .case {
    width: 300px;
  }
  #svg {
    width: 100%;
  }
  .cursor,
  .follower {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: none;
    pointer-events: none;
    display: none;
  }
  #inner_wrap {
    box-sizing: border-box;
    padding: 0 30px;
  }
  #main {
    max-width: 100%;
    background-image: url(../img/blue_rose.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    box-sizing: border-box;
    padding: 200px 0 0 0;
    margin-bottom: 0;
  }
  #main .name {
    max-width: 100%;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 12px;
    color: #fff;
    margin: 0 0 20px 30px;
    font-family: "Raleway", sans-serif;
  }
  #main .title {
    max-width: 100%;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 16px;
    color: #fff;
    margin: 0 0 150px 30px;
    padding-bottom: 200px;
    font-family: "Raleway", sans-serif;
  }
  #skills {
    width: 100%;
    background-color: #1d1d1d;
    position: relative;
  }
  #skills .skill_01 {
    width: 100%;
    margin: 0 auto 150px;
    background-image: url(../img/markup.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 5;
    opacity: 0;
  }
  #skills .skill_01 .black_01 {
    font-size: 16vw;
    font-weight: normal;
    font-family: "Noto Sans JP", sans-serif;
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0px 0px 10px #000, 8px 8px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  #skills .skill_01 .white_01 {
    width: 100%;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
  }
  #skills .skill_01 .white_01::after {
    content: "MARKUP";
    font-size: 16vw;
    font-weight: normal;
    font-family: "Noto Sans JP", sans-serif;
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
  }
  #skills .skill_02 {
    width: 100%;
    margin: 0 auto 150px;
    background-image: url(../img/movie.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0;
  }
  #skills .skill_02 .black_02 {
    font-size: 16vw;
    font-family: "Noto Sans JP", sans-serif;
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #fff;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    z-index: 1;
  }
  #skills .skill_02 .white_02 {
    width: 100%;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
  }
  #skills .skill_02 .white_02::after {
    content: "MOVIE";
    font-size: 16vw;
    font-family: "Noto Sans JP", sans-serif;
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    color: white;
    text-shadow: 0px 0px 10px #000, 8px 8px 4px rgba(17, 17, 17, 0.5);
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    z-index: 1;
  }
  #skills .skill_03 {
    width: 100%;
    margin: 0 auto 150px;
    background-image: url(../img/writter.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
    opacity: 0;
  }
  #skills .skill_03 .black_03 {
    font-size: 16vw;
    font-family: "Noto Sans JP", sans-serif;
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0px 0px 10px #000, 8px 8px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  #skills .skill_03 .white_03 {
    width: 100%;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
  }
  #skills .skill_03 .white_03::after {
    content: "WRITTE";
    font-size: 16vw;
    font-family: "Noto Sans JP", sans-serif;
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
  }
  #profile {
    width: 100%;
    padding-bottom: 100px;
    margin: 0 auto;
    display: block;
  }
  #profile #profile_box {
    width: 100%;
    box-sizing: border-box;
    padding: 60px 0;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #profile #profile_box .left_box {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  #profile #profile_box .left_box .profile_img {
    width: 200px;
    background-image: url(../img/note_image.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    padding-bottom: 200px;
    margin: 0 auto 40px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #profile #profile_box .left_box .profile_img:hover {
    background-image: url(../img/note.jpg);
    transition: 0.4s ease-in-out;
  }
  #profile #profile_box .left_box p {
    margin-bottom: 50px;
    color: #fff;
    background: -webkit-linear-gradient(0deg, #1e00ff, #05fbff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    letter-spacing: 5px;
    text-align: center;
  }
  #profile #profile_box .right_box {
    width: 100%;
    margin: 0;
    padding: 0 40px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
  }
  #profile #profile_box .right_box span {
    width: 100%;
    color: white;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    display: inline-block;
  }
  #profile #profile_box .right_box span::after {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: -webkit-linear-gradient(0deg, #1e00ff, #05fbff);
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform 0.5s;
  }
  #profile #profile_box .right_box span:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }
  .fade_in {
    display: block;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
